body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-image: linear-gradient(to bottom right, skyblue, mediumturquoise);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding: 2rem;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    overflow: hidden;
    color: coral;
    text-indent: 2rem;
    text-decoration: none;
    font-size: 32px;
}

main {
    flex-grow: 1;
    background-color: aliceblue;
    overflow: hidden;
    padding: 2rem;
}

article {
    border-width: thin;
    border-color: slategray;
    border-style: solid;
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 2rem;
}

footer {
    background-color: seashell;
    padding: 2rem;
}

/*Text formatting*/
h1 {
    white-space: nowrap;
    text-align: center;
    color: rgb(255, 90, 30);
    font-size: 72px;
    font-family: "Times New Roman", serif;
}

h2 {
    color: rgb(255, 90, 30);
    font-size: 56px;
}

h3 {
    color: coral;
    font-size: 32px;
}

/*All non-header text gets this styling*/
p, form, input, button, li, table {
    color: black;
    line-height: 165%;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
}

table {
    margin: 0 auto;
    max-width: 70%;
}

.sideways {
    writing-mode: vertical-rl;
}

.centered {
    text-align: center;
}

.side-header {
    width: 2.5rem;
}

/*Images*/
img {
    float: right;
    border-width: thick;
    border-color: coral;
    border-style: solid;
    margin: 1rem;
}

#calculatorPrevImg {
    height: 5rem;
    width: 8rem;
}

.calculatorExImg {
    height: 30rem;
    width: 30rem;
    margin: 0 auto;
    float: none;
    display: block;
}

/*calculator page split screen/grid layout - may change if other split screens needed on other pages*/
.split-grid {
    padding: 0; /* Override main padding */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 30% 70%;
}

.top {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: antiquewhite;
}

.left, .right {
    padding: 2rem;
    overflow-y: auto;
}

.left {
    background-color: slategray;
}

.right {
    background-color: aliceblue;
}

/*Submit button styling*/
button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

button:hover {
    filter: brightness(0.9);
}