/*Page formatting*/
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-image: linear-gradient(to bottom right, skyblue, mediumturquoise);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding: 2rem;
}

main {
    flex-grow: 1;
    background-color: aliceblue;
    overflow: hidden;
    padding: 2rem;
}

article {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    border-width: medium;
    border-color: slategray;
    border-style: solid;
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 2rem;
}

footer {
    background-color: seashell;
    padding: 2rem;
}

.contact {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

/*Text formatting*/
h1 {
    white-space: nowrap;
    text-align: center;
    color: rgb(255, 90, 30);
    font-size: 72px;
    font-family: "Times New Roman", serif;
}

h2 {
    text-align: center;
    color: rgb(255, 90, 30);
    font-size: 56px;
}

h3 {
    color: coral;
    font-size: 32px;
}

/*All non-header text gets this styling*/
p, a, form, input, button, li, table {
    color: black;
    line-height: 165%;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
}

a {
    color:blue;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    overflow: hidden;
    color: coral;
    text-indent: 2rem;
    text-decoration: none;
    font-size: 32px;
}

.contact a {
    grid-column: 2;
    padding-left: 1vw;
    width: fit-content;
}

/*Images*/
img {
    float: right;
    border-width: thick;
    border-color: coral;
    border-style: solid;
    margin: 2rem;
    object-fit: cover;
}

/*Picture of self*/
#allen {
    width: 14vw;
    aspect-ratio: 28 / 45;
}

/*For icons in contact section*/
.icon {
    grid-column: 1;
    aspect-ratio: 1 / 1;
    height: 5vh;
    border-color: transparent;
    margin: 0%;
    padding-right: 1vw;
}

/*For project article grid alignment*/
.proj-title {
    grid-row: 1;
    grid-column: 1;
}

.proj-desc {
    grid-row: 2;
    grid-column: 1;
}

.preview-img {
    justify-content: center;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 30vw;
    aspect-ratio: 4 / 3;
}

/*Resume alignment*/
#resume {
    display: grid;
    place-items: center;
}

.pdf {
    width: 50vw;
    height: 85vh;
    padding-bottom: 1rem;
}

/*CALCULATOR PAGE split screen/grid layout - may change if other split screens needed on other pages*/
.split-grid {
    padding: 0; /* Override main padding */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 30% 70%;
}

.top {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: antiquewhite;
}

.left, .right {
    padding: 2rem;
    overflow-y: auto;
}

.left {
    background-color: slategray;
}

.right {
    background-color: aliceblue;
}

.char-input {
    text-align: center;
    width: 0.75rem;
}

/*Submit button styling*/
button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

button:hover {
    filter: brightness(0.9);
}