<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Allen's Webpage</title>
        <link rel="stylesheet" th:href="@{/style.css(v=${#dates.createNow().time})}">
    </head>

    <body>
        <header>
            <h1>Allen's Webpage</h1>
            
            <div class = "topnav">
                <a href = "index.html">Back to Home Page</a>
            </div>
        </header>
        
        <main class = "split-grid">
            <div class = "top">
                <p>
                    Newton's method is an iterative process that allows one to find the roots of a function. Supposing our function is some f(x), we start with an initial x value.
                    Then we find the tangent line of the function:
                    [Insert latex for this equation]
                </p>

                <!--Maybe add some images to help visualize-->
                <table border = "1">
                    <tr>
                        <th rowspan="2" colspan="2"></th>
                        <th colspan="2">Function</th>
                    </tr>
                    <tr class="centered">
                        <td>+</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th rowspan="2" class="sideways">Derivative</th>
                        <td class="centered side-header">+</td>
                        <td>
                            The function value is positive, and the slope of the tangent line is positive, so to find the zero of the tangent line, we must decrease x, bringing us closer to the zero of the function.
                            <img src = "assets/Example++.png" class="calculatorExImg">
                        </td>
                        <td>
                            The function value is negative, and the slope of the tangent line is positive. Therefore, we must increase x to find the x-intercept of the tangent line, bringing us closer to a root of the function.
                            <img src = "assets/Example-+.png" class="calculatorExImg">
                        </td>
                    </tr>
                    <tr>
                        <td class="centered side-header">-</td>
                        <td>
                            The function value is positive, and the slope of the tangent line is negative. so to find the zero of the tangent line, we must increase x, bringing us closer to the zero of the function.
                            <img src = "assets/Example+-.png" class="calculatorExImg">
                        </td>
                        <td>
                            The function value is negative, and the slope of the tangent line is negative, so to find the zero of the tangent line, we must decrease x, bringing us closer to the zero of the function.
                            <img src = "assets/Example--.png" class="calculatorExImg">
                        </td>
                    </tr>
                </table>

                <p>And the root of that tangent line.</p> <br>
                <p>
                    This calculator takes user-defined functions and stores them in an Expression class, where the inputs are validated and processed.
                    Once the expression has been split into operators and operands, it evaluates the function and its derivative at the user's starting value,
                    starting by substituting the starting value into the variable of the expression (if it exists), then recursively evaluating parenthetical expressions,
                    starting with the innermost. The function and derivatives' values at the point are then used to execute an iteration of Newton's Method.
                </p>
            </div>
            
            <div class = "left">
                <form th:action = "@{/calculator}" method = "post">
                    Function: y = <input type = "text" name = "function" required> <br>
                    <ul th:if = "${functionErr}">
                        <li th:each = "e : ${functionErr}" th:text = "${e}"></li>
                    </ul>
                    Derivative: y' = <input type = "text" name = "derivative" required> <br>
                    <ul th:if = "${derErr}">
                        <li th:each = "e : ${derErr}" th:text = "${e}"></li>
                    </ul>
                    Starting point: <input type = "number" name = "value" required> <br>
                    Iterations: <input type = "number" name = "iterations" required> <br>
                    <button type = "submit">Run</button>
                </form>
                
                <p th:if = "${maxIterMsg}" th:text = "${maxIterMsg}"></p>
            </div>

            <div class = "right">
                <p th:if = ${#lists.isEmpty(nOutput)}>Your output will appear here when you run the program.</p>
                <ul th:if = "${nOutput}">
                    <li th:each = "e : ${nOutput}" th:text = "${e}"></li>
                </ul>
            </div>
        </main>

        
    </body>
</html>