<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Allen's Webpage</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <h1>Allen's Webpage</h1>
            
            <div class = "topnav">
                <a href = "index.html">Back to Home Page</a>
            </div>
        </header>
        
        <main>
            <form th:action = "@{/calculator}" method = "post">
                Function: <input type = "text" name = "function">
                <ul th:if = "${functionErr}">
                    <li th:each = "e : ${functionErr}" th:text = "${e}"></li>
                </ul>
                Derivative: <input type = "text" name = "derivative">
                <ul th:if = "${derErr}">
                    <li th:each = "e : ${derErr}" th:text = "${e}"></li>
                </ul>
                Starting point: <input type = "number" name = "value">
                Iterations <input type = "number" name = "iterations">
                <button type = "submit">Run</button>
            </form>

            <ul th:if = "${nOutput}">
                <li th:each = "e : ${nOutput}" th:text = "${e}">
            </ul>
        </main>

        
    </body>
</html>